.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.carousel-caption {
    position: center;
    bottom: 30%;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .6);
    font-size: 50px;
}

.carousel-inner img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}